body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:5vmax;
}
div {
    width: 200px;
    height: 200px;
    margin: 40px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    color: white;
    font-weight: bold;
    transition: transform 1s;
}

div:nth-child(1) {
    background-color: rgb(255, 148, 148);
}

div:nth-child(2) {
    background-color: rgb(111, 237, 111);
}

div:nth-child(3) {
    background-color: rgb(103, 103, 255);
}

div:nth-child(4) {
    background-color: rgb(255, 204, 109);
}

div:nth-child(5) {
    background-color: rgb(255, 96, 255);
}

div:nth-child(1):hover {
    transform: translate(50px, 100px);
}

div:nth-child(2):hover {
    transform: rotate(45deg);
}

div:nth-child(3):hover {
    transform: scale(1.5);
}

div:nth-child(4):hover {
    transform: skew(20deg, 20deg);
}

div:nth-child(5):hover {
    transform: matrix(1, 0.5, -0.5, 1, 0, 0);
}